.password-field {
  position: relative;

  &__label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    color: #949494;

    & > a {
      font-size: 1.5rem;
    }
  }

  .input-group {
    border-radius: 4px;
    outline: none;

    display: flex;

    &.is-invalid {
      border-color: red;
    }

    .input-group-append button {
      border: none !important;
      background-color: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;

      position: absolute;
      right: 0;
      width: auto;

      &:hover {
        > i {
          color: #1890ff;
        }
      }

      > i {
        color: #999;
        font-size: 1.2rem;

        &.green {
          color: #1890ff;
        }
      }
    }
  }
}
