.form-group {
  label {
    display: block;

    color: #949494;
    margin-bottom: 10px;
  }

  .is-invalid {
    border-color: red;
  }

  .invalid-feedback {
    color: red;
    font-size: 0.9rem;
  }

  input {
    height: 2rem;
    width: 100%;

    border: 1px solid #ddd;
  }
}
