.product-detail {
  margin: 50px 0;
  position: relative;

  &--left {
    .slick-slide {
      height: 400px;
      background-color: #b6b6b6;
    }
  }

  &--right {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .product-detail {
    &--right {
      padding-left: 0px;
      margin-top: 50px;
    }
  }
}
